<a href="https://colab.research.google.com/github/saad-the-noob/Skill_Morph_Assignment/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [ ]:
name = "Raj"
age = 20
fav_color ="white"
# Printing variables
print("Name:", name)
print("Age:", age)
print("favourite color", fav_color)

Name: Raj
Age: 20
favourite color white

2.2.Create one variable of each type and use the type() function to verify its type.

In [ ]:
string = "Raj"
integer = 20
float_number =20.5
complex_number=(-2)**(0.5)
boolean = True
none =None
print(type(string))
print(type(integer))
print(type(float_number))
print(type(complex_number))
print(type(boolean))
print(type(none))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'NoneType'>

2.3.  Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [ ]:
area=print("area" ,7*5 ,"sq.unit")
perimeter=print("perimeter",2*(7+5),"unit")

area 35 sq.unit
perimeter 24 unit

2.4.Create a list of 5 Bangladeshi foods, then access the first and
last elements.

In [ ]:
fruits = ["apple", "banana", "orange", "mango","grapes"]
print(fruits[0])
print(fruits[4])

apple
grapes

2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
list = [6,9,7,3,5]

In [ ]:
list.append(2)
list.remove(7)
list.sort()
print(list)

[2, 3, 5, 6, 9]

2.6 Create a dictionary about yourself with at least 4 key-value pairs.

In [ ]:
student = {
"name": "Saad",
"age": 21,
"university": "DU",
"courses": ["Python", "Data Science", "Web Development"]}

2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [ ]:
tup = (23.7099 , 90.4069 )

2.8  Create two sets of colors and find their union and intersection.

In [ ]:
set1= {"Red", "Blue"}
set2= {"Green", "Purpel","Blue"}
union = set1.union(set2)
intersection = set1.intersection(set2)
print(union)
print(intersection)

{'Red', 'Blue', 'Green', 'Purpel'}
{'Blue'}

2.9 Write a program that checks if a number is positive, negative, or zero.

In [ ]:
print("Enter a number")
n = int(input())
if (n==0):
  print("Zero")
elif (n>0):
  print("Positive")
else :
  print("Negetive")

Enter a number
-55
Negetive

2.10  Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).

In [ ]:
print("Are you a student?\nyes: press 1, not: press 0")
student = int(input())
if (student == 0):
  print("Are you a senior?\nyes: press 2, not: press 3")
  senior=int(input())
age = int(input("Enter your age"))
if ((student == 1 and age < 25) or (senior == 2 and age > 60)):
  print("You are eligible for a discount")
else:
  print("You are not eligible for a discount")

Are you a student?
yes: press 1, not: press 0
1
Enter your age24
You are eligible for a discount

2.11  Write a program that prints the first 10 even numbers
using a for or while loop.

In [ ]:
print("First 10 even numbers:")
for i in range(2,22,2):
  print(i)

First 10 even numbers:
2
4
6
8
10
12
14
16
18
20

In [ ]:
#Better method
print("First 10 even numbers:")
for i in range(1, 11):
    print(i * 2)

First 10 even numbers:
2
4
6
8
10
12
14
16
18
20

2.12 Write a program that prints a simple number pyramid pattern using nested loops.

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    line = ""
    for k in range(1, i + 1):
        line += str(k) + " "
    print(line)

Enter the number of rows: 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [2]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
print(celsius_to_fahrenheit(100))

212.0

2.14 Create a function with default parameters that calculates the area of a rectangle.

In [3]:
def area(a, b , area = "area"):
  print(area, a*b)
area(2,3)

area 6